IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Questions' AND COLUMN_NAME = 'Gender')
BEGIN
    ALTER TABLE Questions ADD Gender NVARCHAR(20) NULL;
END
GO

UPDATE Questions SET Gender = 'M' WHERE Gender IS NULL;
GO